body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #f6f8fa;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    /* 使得绝对定位的星星相对页面 */
}

/* 星星样式 */
.star {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: gold;
}

.star:nth-child(4) {
    top: 73px;
    left: 560px;
}

.star:nth-child(2) {
    top: 29px;
    left: 565px;
}

.star:nth-child(3) {
    top: 49px;
    left: 620px;
}

/* 页眉样式 */
header {
    background-color: #3e80af;
    color: white;
    padding: 20px;
    /* text-align: center; */
    font-size: 3.8em;
    text-align: left;
    /* 确保文本靠左对齐 */

}

/* 导航栏样式 */
nav {
    background-color: #2c3e50;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.2);
    /* 添加阴影效果 */
}

/* 内容容器样式 */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* 侧边栏样式 */
.sidebar {
    flex: 0 0 250px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 20px;
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #3498db;
}

.sidebar ul li a:hover {
    color: #3e80af;
}

/* 主要内容区域 */
.content-section {
    display: none;
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.active {
    display: block;
}

.content-section h1 {
    font-size: 2em;
    color: #2c3e50;
}

.content-section h2 {
    font-size: 1.5em;
    color: #34495e;
    margin-top: 20px;
}

.content-section p {
    text-indent: 2em;
    font-size: 1em;
    line-height: 1.8;
    margin: 10px 0;
}

/* 代码块样式 */
pre {
    background-color: #2d2d2d;
    /* 背景色 */
    border: 1px solid #444;
    /* 边框颜色 */
    padding: 0px;
    /* 内边距 */
    border-radius: 5px;
    /* 圆角 */
    overflow-x: auto;
    /* 水平滚动条 */
    white-space: pre-wrap;
    /* 允许换行 */
    word-wrap: break-word;
    /* 超出范围的单词换行 */
    line-height: 1.5;
    /* 行高 */
    margin: 10px;
    /* 外边距 */
    max-width: 80%;
    /* 设置最大宽度为 80% */
    margin-left: auto;
    /* 居中显示 */
    margin-right: auto;
    /* 居中显示 */
}

code {
    font-family: "Courier New", monospace;
    /* 字体 */
    color: #f8f8f2;
    /* 字体颜色 */
}

/* 表单容器样式 */
form {
    display: flex;
    flex-direction: column;
    /* 垂直对齐表单元素 */
    justify-content: center;
    align-items: center;
    /* 让表单内容居中 */
    width: 300px;
    /* 设置表单宽度 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* 添加阴影效果 */
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 20px;
    background-color: #3e80af;
    color: #f5f5f7;
    margin-top: 20px;
    position: relative;
}

footer a {
    color: #f5f5f7;
    text-decoration: none;
    cursor: pointer;
}

/* 悬停时显示字体 */
footer a#contact:hover::after {
    content: '：2312966@mail.nankai.edu.cn';
    /* 悬停时显示的文字 */
    color: #f5f5f7;
    display: inline-block;
    margin-left: 10px;
}

/* 回到顶部按钮 */
footer a#top {
    display: inline-block;
    margin-top: 10px;
    color: #f5f5f7;
}

/* 平滑滚动效果 */
html {
    scroll-behavior: smooth;
}


.gallery {
    position: relative;
    width: 60%;
    /* 设置图集宽度 */
    margin: auto;
    overflow: hidden;
    /* 隐藏溢出的内容 */
    border: 2px solid #ccc;
    /* 边框 */
    border-radius: 10px;
    /* 圆角边框 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
}

.gallery img {
    width: 100%;
    /* 设置图片宽度为图集的100% */
    height: auto;
    /* 自动调整高度 */
    display: none;
    /* 隐藏所有图片 */
}

.gallery img.active {
    display: block;
    /* 显示当前激活的图片 */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    /* 圆角按钮 */
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}